@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 8px;
}

.left-links, .right-links {
  display: flex;
  margin: 16px;
  padding: 0;
}

.left-links > li, .right-links > li {
  margin: 8px;
  list-style-type: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: gray
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #eeeeee;
  margin-top: auto;
  padding: 8px;
}
